
/* общие */

html {
    background-color: #56baed;
}

body {
    font-family: "Poppins", sans-serif;
}

a {
    color: #92badd;
    display:inline-block;
    text-decoration: none;
    font-weight: 400;
}

h1 {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    display:inline-block;
    margin: 12px 8px 10px 8px;
    color: #0d0d0d;
}

p {
    text-align: center;
    margin-left: 0px;
    font-family: Lobster;
    font-size: 20px;
    font-weight: 600;
    color: #0d0d0d;
}


/* обертка */

.wrapper {
    margin-top: 150px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 20px;
}

#formContent {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: #fff;
    padding: 30px;
    width: 90%;
    max-width: 450px;
    height: 280px;
    position: relative;
    padding: 30px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    text-align: center;
}

#formFooter {
    background-color: #f6f6f6;
    border-top: 2px solid #dce8f1;
    padding: 25px;
    text-align: center;
    -webkit-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
}

/* поля ввода информации */

.input {
    width: 430px;
    height: 35px;
    border-radius: 10px 10px 10px 10px;
    font-family: Lobster;
    font-size: 16px;
}

.button {
    width: 170px;
    height: 30px;
    color: rgba(7, 30, 57, 1);
    font-family: Snell Roundhand, cursive;
    font-weight: bold;
    background: rgba(198, 215, 11, 1);
    border-radius: 5px 5px 5px 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

h2.inactive {
  color: #cccccc;
}

h2.active {
  color: #0d0d0d;
  border-bottom: 2px solid #5fbae9;
}
