<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>authorization</title>
    <link rel="stylesheet" type="text/css" href="static/index_page.css">
</head>
<body>
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <h1>Добро пожаловать</h1>
            <form action = "http://localhost:5000/sign_up" method = "post">
                <p>Новый пользователь</p>
                    <input type="submit" class="button sign_up" value="Зарегистрироваться">
            </form>
            <form action = "http://localhost:5000/sign_in" method = "post">
                <p>Есть логин и пароль</p>
                    <input type="submit" class="button sign_in" value="Войти">
            </form>
<!--            &lt;!&ndash; Tabs Titles &ndash;&gt;-->
<!--&lt;!&ndash;            <h2 class="active"> Войти в систему </h2>&ndash;&gt;-->
<!--&lt;!&ndash;            <h2 class="inactive underlineHover"> Зарегистрироваться </h2>&ndash;&gt;-->

<!--            &lt;!&ndash; Login Form &ndash;&gt;-->
<!--            <form>-->
<!--                <p>Login</p>-->
<!--                    <input type="text" id="login" class="input first" name="login" placeholder="login">-->
<!--                <p>Password</p>-->
<!--                    <input type="password" id="password" class="input second" name="password" placeholder="password">-->
<!--                    <input type="submit" class="button submit" value="Зарегистрироваться">-->
<!--            </form>-->

<!--            &lt;!&ndash; Remind Passowrd &ndash;&gt;-->
<!--            <div id="formFooter">-->
<!--                <a class="underlineHover" href="#">Забыл пароль?</a>-->
<!--            </div>-->
        </div>
    </div>
</body>
