/* общие */

html {
    background-color: #56baed;
}

body {
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
}

h2 {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    display:inline-block;
    margin: 40px 8px 10px 8px;
    color: rgba(7, 30, 57, 1)
    font-family: Lobster;
}

h5 {
    position: absolute;
    top: 30px;
    left: 20px;
    font-family: Lobster;
    font-size: 18px;
}

form {
    width: 800px;
    height: 500px;
}

/* обертка */

#form_choose_brand {
    width: 800px;
    height: 400px;
    margin-top: 130px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    padding: 30px;
    position: absolute;
    padding: 0px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    text-align: center;
    background: rgba(65, 101, 143, 1);
}

/* картинки брендов */
#form_images_and_button {
    margin-top: -20px;
}

.container-images-and-button-brand {
    position: relative;
    display: inline-grid;
    width: 150px;
    height: 100px;
    padding: 10px;
    margin-top: 230px;
    margin-left: 65px;
    justify-content: start;
}

.My_pitures{
    width: 100px;
    height: 75px;
    padding: 30px;
}

.images_dodo {
    position: relative;
    width: 100px;
    height: 75px;
}

.images_tashir {
    position: relative;
    width: 100px;
    height: 75px;
}

.images_tomato {
    position: relative;
    width: 100px;
    height: 75px;
}

/* переключатель */

* {
    --switch-height: 40px;
    --switch-padding: 8px;
    --switch-width: calc((var(--switch-height) * 2) - var(--switch-padding));
    --slider-height: calc(var(--switch-height) - var(--switch-padding));
    --slider-on: calc(var(--switch-height) - var(--switch-padding));
}

.switch {
    position: relative;
    display: inline-block;
    width: var(--switch-width);
    height: var(--switch-height);
    left: 43px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: grey;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    content: "";
    position: absolute;
    height: var(--slider-height);
    width: var(--slider-height);
    left: calc(var(--switch-padding) / 2);
    bottom: calc(var(--switch-padding) / 2);
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #bada55;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    transform: translateX(var(--slider-on));
}

.slider.round {
    border-radius: var(--slider-height);
}

.slider.round:before {
    border-radius: 50%;
}


/* кнопка выбора городов */

#form_button_choose_city {
    width: 100px;
    height: 40px;
    position: absolute;
    margin-top: 125px;
    margin-left: 630px;
}

.button-submit {
    width: 120px;
    height: 40px;
    border-radius: 5px 5px 5px 5px;
    font-family: Snell Roundhand, cursive;
    font-weight: bold;
    background: rgba(7, 30, 57, 0.89)
    color: rgba(7, 30, 57, 1);
}