/* общие */

html {
    background-color: #56baed;
}

body {
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
}

h2 {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    display:inline-block;
    margin: 40px 8px 10px 8px;
    color: rgba(7, 30, 57, 1)
    font-family: Lobster;
}

h5 {
    position: absolute;
    top: 30px;
    left: 20px;
    font-family: Lobster;
    font-size: 18px;
}

#form_choose_city {
    width: 800px;
    height: 400px;
    margin-top: 150px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: green;
    padding: 30px;
    position: absolute;
    padding: 0px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    text-align: center;
    background: rgba(65, 101, 143, 1);
}

#table_choose_city {
    position: absolute;
    width: 400px;
    height: 200px;
    margin-top: 160px;
    margin-left: 120px;
}

/* размеры столбцов и цвет текста */
.header {
    font-weight:bold;
    text-transform: uppercase;
    color: rgba(217, 217, 217, 0.91);
    font-family: Lobster;
}



.first_column {
    font-weight:bold;
    text-transform: uppercase;
    color: rgba(217, 217, 217, 0.91);
    font-family: Lobster;
    width: 140px;
}

.second_column {
    width: 100px;
}

/* кнопки */

* {
    --switch-height: 25px;
    --switch-padding: 8px;
    --switch-width: calc((var(--switch-height) * 2) - var(--switch-padding));
    --slider-height: calc(var(--switch-height) - var(--switch-padding));
    --slider-on: calc(var(--switch-height) - var(--switch-padding));
}

.switch {
    position: relative;
    display: inline-block;
    width: var(--switch-width);
    height: var(--switch-height);
    left: 43px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: grey;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    content: "";
    position: absolute;
    height: var(--slider-height);
    width: var(--slider-height);
    left: calc(var(--switch-padding) / 2);
    bottom: calc(var(--switch-padding) / 2);
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #bada55;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    transform: translateX(var(--slider-on));
}

.slider.round {
    border-radius: var(--slider-height);
}

.slider.round:before {
    border-radius: 50%;
}

/* кнопка начать парсинг */

#form_button_start_parsing {
    width: 100px;
    height: 40px;
    position: absolute;
    margin-top: 410px;
    margin-left: 540px;
}

.button-submit {
    width: 120px;
    height: 40px;
    border-radius: 5px 5px 5px 5px;
    font-family: Snell Roundhand, cursive;
    font-weight: bold;
    background: rgba(7, 30, 57, 0.89)
    color: rgba(7, 30, 57, 1);
}